services:
  # --- 1️⃣ БАЗОВЫЕ СЕРВИСЫ ---
  db:
    image: postgres:15
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  # --- 2️⃣ ОЧЕРЕДИ / КЭШ ---
  celery:
    build: .
    command: celery -A roomtime worker -l info
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db
      - redis

  # --- 3️⃣ ОСНОВНЫЕ ПРИЛОЖЕНИЯ ---
  web:
    build: .
    command: sh ./entrypoint.sh
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
      - celery

volumes:
  postgres_data:
